---
- name: Install general packages
  community.general.pacman:
    name: "{{ general_packages }}"
    state: present
  become: true

- name: Install development packages
  community.general.pacman:
    name: "{{ development_packages }}"
    state: present
  become: true

- name: Install shell packages
  community.general.pacman:
    name: "{{ shell_packages }}"
    state: present
  become: true

- name: Install archive packages
  community.general.pacman:
    name: "{{ archive_packages }}"
    state: present
  become: true

- name: Install media packages
  community.general.pacman:
    name: "{{ media_packages }}"
    state: present
  become: true

- name: Install gaming packages
  community.general.pacman:
    name: "{{ gaming_packages }}"
    state: present
  become: true

- name: Install Sunshine
  community.general.pacman:
    name: "lizardbyte/sunshine"
    state: present
  become: true
  when:
    - sunshine | default(false) | bool
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install font packages
  ansible.builtin.import_tasks: fonts.yml

- name: Install aur packages
  ansible.builtin.import_tasks: aur.yml

- name: Install flatpaks
  ansible.builtin.import_tasks: flatpak.yml

- name: Start systemd service - systemd-modules-load.service
  ansible.builtin.systemd:
    name: systemd-modules-load.service
    state: started
    enabled: yes
  become: true
