---
- name: Install AUR helper (yay)
  when: >
    ('yay' not in ansible_facts.packages) and
    ('yay-bin' not in ansible_facts.packages) and
    ('yay-git' not in ansible_facts.packages)
  tags: yay
  block:
    - name: Install dependencies
      become: true
      community.general.pacman:
        name: "{{ item }}"
        state: present
      with_items:
        - base-devel
        - git
        - go

    - name: Create temporary directory for yay
      ansible.builtin.tempfile:
        state: directory
        suffix: _yay
      register: yay_tmp_dir
      become: false

    - name: Clone yay into temp dir
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay-git.git
        dest: "{{ yay_tmp_dir.path }}"
        version: master
        depth: 1
      become: false

    - name: Build AUR helper (yay)
      ansible.builtin.command: makepkg --noconfirm -sf
      become: false
      args:
        chdir: "{{ yay_tmp_dir.path }}"
      register: my_output
      when: not ansible_check_mode
      changed_when: true

    - name: Install the built package
      ansible.builtin.shell: |
        set -o pipefail
        pacman -U --noconfirm $(ls {{ yay_tmp_dir.path }}/yay-*.pkg.tar.zst | grep -v -- -debug)
      become: true
      when: not ansible_check_mode
      changed_when: true

- name: Create flat list of packages
  ansible.builtin.set_fact:
    packages_to_install: >-
      {% for pkg in packages %}
        {{ pkg | quote }}
      {% endfor %}
  vars:
    packages: >-
      {{
        (default_official_packages.get('general', [])) +
        ((official_packages | default({})).get('general', [])) +
        ((host_official_packages | default({})).get('general', [])) +

        (default_official_packages.get('shell', [])) +
        ((official_packages | default({})).get('shell', [])) +
        ((host_official_packages | default({})).get('shell', [])) +

        (default_official_packages.get('archiving', [])) +
        ((official_packages | default({})).get('archiving', [])) +
        ((host_official_packages | default({})).get('archiving', [])) +

        ((default_official_packages.get('development', []) + ((official_packages | default({})).get('development', [])) + ((host_official_packages | default({})).get('development', []))) if development else []) +
        ((default_official_packages.get('media', []) + ((official_packages | default({})).get('media', [])) + ((host_official_packages | default({})).get('media', []))) if media else []) +
        ((default_official_packages.get('gaming', []) + ((official_packages | default({})).get('gaming', [])) + ((host_official_packages | default({})).get('gaming', []))) if gaming else []) +
        ((default_official_packages.get('printing_scanning', []) + ((official_packages | default({})).get('printing_scanning', [])) + ((host_official_packages | default({})).get('printing_scanning', []))) if printing_scanning else []) +
        ((default_official_packages.get('fonts', []) + ((official_packages | default({})).get('fonts', [])) + ((host_official_packages | default({})).get('fonts', []))) if desktop else []) +

        
        (['lizardbyte/sunshine'] if sunshine | default(false) | bool else [])
      }}
# (default_aur_packages.get('general', [])) +
#         ((aur_packages | default({})).get('general', [])) +
#         ((host_aur_packages | default({})).get('general', [])) +

#         ((default_aur_packages.get('printing_scanning', []) + ((aur_packages | default({})).get('printing_scanning', [])) + ((host_aur_packages | default({})).get('printing_scanning', []))) if printing_scanning else []) +

- name: Install batch of packages
  become: true
  become_user: root
  retries: 1
  delay: 3
  ansible.builtin.command: >
    yay -S
      --answerclean none --answeredit none --answerupgrade none --answerdiff none
      --noconfirm --combinedupgrade --needed
      {{ packages_to_install }}
  register: yay_install
  changed_when: "'there is nothing to do' not in yay_install.stderr"

