---
- name: Install dependencies
  become: true
  community.general.pacman:
    name: "{{ item }}"
    state: present
  with_items:
    - flatpak

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
  become: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install flatpaks
  community.general.flatpak:
    name: "{{ (default_flatpaks | default([])) + (flatpaks | default([])) + (host_flatpaks | default([])) }}"
    state: present
    remote: flathub
  become: true
  ignore_errors: "{{ ansible_check_mode }}"
