---
- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ssh_key_dir }}"
    state: directory
    mode: '0700'
    owner: "{{ user.name }}"
    group: "{{ user.primary_group }}"
  become: true

- name: Process SSH keys for all hosts in inventory
  include_tasks: fetch_single_key.yml
  loop: "{{ groups['all'] }}"
  loop_control:
    loop_var: host_item
