---
- name: Check distribution is supported
  ansible.builtin.assert:
    that: ansible_distribution == "Archlinux"
    fail_msg: "Distribution '{{ ansible_distribution }}' is not supported."
    success_msg: "I run Arch, btw"

- name: Set flag for EndeavourOS
  ansible.builtin.set_fact:
    is_endeavouros: "{{ ansible_facts['lsb']['id'] == 'EndeavourOS' }}"

- name: Set flag for cachyOS
  ansible.builtin.set_fact:
    is_cachyos: "{{ ansible_facts['lsb']['id'] == 'cachyos' }}"

- name: Get details about installed packages
  ansible.builtin.package_facts:
