---
- name: Install printing and scanning packages
  community.general.pacman:
    name: "{{ printing_scanning_packages }}"
  become: true

- name: Install printing and scanning packages (AUR)
  community.general.pacman:
    name: "{{ printing_scanning_aur_packages }}"
    executable: "{{ aur_helper }}"
    state: present
  become: true

- name: Fix /etc/nsswitch.conf for network discovery of printers
  ansible.builtin.replace:
    path: /etc/nsswitch.conf
    regexp: "^{{ 'hosts: mymachines resolve [!UNAVAIL=return] files myhostname dns' | regex_escape() }}$"
    replace: 'hosts: mymachines mdns_minimal [NOTFOUND=return] resolve [!UNAVAIL=return] files myhostname dns'

- name: Start systemd service - cups.socket
  ansible.builtin.systemd:
    name: cups.socket
    state: started
    enabled: yes
  become: true
  ignore_errors: "{{ ansible_check_mode }}"


- name: Disable systemd service - systemd-resolved.service
  ansible.builtin.systemd:
    name: systemd-resolved.service
    state: stopped
    enabled: no
  become: true
  ignore_errors: "{{ ansible_check_mode }}"


- name: Start systemd service - avahi-daemon.socket
  ansible.builtin.systemd:
    name: avahi-daemon.socket
    state: started
    enabled: yes
  become: true
  ignore_errors: "{{ ansible_check_mode }}"


- name: Detect scanner
  ansible.builtin.shell: set -o pipefail && scanimage -L  # noqa command-instead-of-shell
  register: scanimage_result
  changed_when: no
  when: detect_scanner

- name: Display scanner
  ansible.builtin.debug:
    msg:
      - "Detected the scanner below"
      - "{{ scanimage_result.stdout }}"
  when: detect_scanner
